<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jungle" class="de.wiese24.springlearning.Jungle">
		<property name="foods">
			<props>
				<prop key="Tiger">meat</prop>
				<prop key="Panda">Bamboo</prop>
				<prop key="Snake">eggs</prop>
			</props>
		</property>
	</bean>
</beans>
