<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="logger" class="de.wiese24.springlearning.Logger" />
	<bean id="fileWriter" class="de.wiese24.springlearning.FileWriter" />
	<bean id="myConsoleWriter"
		class="de.wiese24.springlearning.ConsoleWriter">
	<qualifier value="toConsole"></qualifier>
	</bean>
	<bean id="squirrel" class="de.wiese24.springlearning.ConsoleWriter" />

	<context:annotation-config></context:annotation-config>
</beans>
