<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="robot" class="de.wiese24.springlearning.Robot">
		<property name="speech" value="#{randomText.text}"/>
		<property name="id" value="#{randomText.text?.length()}" />
	</bean>
	
	<bean id="randomText" class="de.wiese24.springlearning.RandomText">
	</bean>
</beans>
